@page "/EliminarEpica"
@inject IEquipoLogic EquipoLogic
@inject SesionLogic SesionLogic
@inject IPanelLogic PanelLogic;
@inject NavigationManager Navigation
@using BusinessLogic.Interfaces
@using Domain

<h3>Eliminar Epica</h3>

<div class="mb-3 d-flex align-items-center">
    <label for="equipoSelect" class="me-2">Seleccionar Equipo:</label>
    <select id="equipoSelect" class="form-control me-2" @bind="_nombreEquipoSeleccionado">
        <option value="">Seleccione un equipo</option>
        @foreach (var equipo in _equipos)
        {
        <option value="@equipo.Nombre">@equipo.Nombre</option>
        }
    </select>
    <button class="btn btn-primary" @onclick="CargarEquipo">Cargar Equipo</button>
</div>

@if (_equipoSeleccionado != null)
{
<div class="mb-3 d-flex align-items-center">
    <label for="panelSelect" class="me-2">Seleccionar Panel:</label>
    <select id="panelSelect" class="form-control me-2" @bind="_nombrePanelSeleccionado">
        <option value="">Seleccione un panel</option>
        @foreach (var panel in _paneles)
        {
        <option value="@panel.Nombre">@panel.Nombre</option>
        }
    </select>
    <button class="btn btn-primary" @onclick="CargarPanel">Cargar Panel</button>
</div>
}

@if (!string.IsNullOrEmpty(_errorMessage))
{
<div class="alert alert-danger">
    <p>@_errorMessage</p>
</div>
}
@if (!string.IsNullOrEmpty(_successMessage))
{
<div class="alert alert-success">
    <p>@_successMessage</p>
</div>
}
@if (_panelSeleccionado != null)
{
<div class="mb-3 d-flex align-items-center">
    <label for="epicaSelect" class="me-2">Seleccionar Epica:</label>
    <select id="epicaSelect" class="form-control me-2" @bind="_tituloEpicaSeleccionada">
        <option value="">Seleccione una epica</option>
        @foreach (var epica in _epicas)
        {
        <option value="@epica.Titulo">@epica.Titulo</option>
        }
    </select>
    <button class="btn btn-primary" @onclick="CargarEpica">Cargar Epica</button>
</div>
}
@if (_epicaSeleccionada != null)
{
    <p>Titulo: @_epicaSeleccionada.Titulo</p>
    <p>Descripcion: @_epicaSeleccionada.Descripcion</p>
    <button class="btn btn-danger" @onclick="EliminarEpicaSeleccionada">Eliminar epica</button>
}

@code {
    private List<Equipo> _equipos = new List<Equipo>();
    private string? _nombreEquipoSeleccionado, _nombrePanelSeleccionado, _tituloEpicaSeleccionada, _errorMessage, _successMessage;
    private Equipo? _equipoSeleccionado;
    private List<Panel?> _paneles = new List<Panel?>();
    private Panel? _panelSeleccionado;
    private List<Epica> _epicas = new List<Epica>();
    private Epica? _epicaSeleccionada;
    
    protected override void OnInitialized()
    {
        _equipos = EquipoLogic.ListarEquipos(SesionLogic.UsuarioLogueado);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && SesionLogic.UsuarioLogueado == null)
        {
            if (SesionLogic.UsuarioLogueado == null)
            {
                Navigation.NavigateTo("https://localhost:7014/", true);
            }

            firstRender = false;
        }
    }

    private void CargarEquipo()
    {
        if (!string.IsNullOrEmpty(_nombreEquipoSeleccionado))
        {
            _equipoSeleccionado = _equipos.FirstOrDefault(e => e.Nombre == _nombreEquipoSeleccionado);
            _paneles = _equipoSeleccionado.Paneles;
        }
    }

    private void CargarPanel()
    {
        if (!string.IsNullOrEmpty(_nombrePanelSeleccionado))
        {
            _panelSeleccionado = _paneles.FirstOrDefault(p => p.Nombre == _nombrePanelSeleccionado);
            _epicas = _panelSeleccionado.Epicas;
        }
    }

    private void CargarEpica()
    {
        if (!string.IsNullOrEmpty(_tituloEpicaSeleccionada))
        {
            _epicaSeleccionada = _epicas.FirstOrDefault(e => e.Titulo == _tituloEpicaSeleccionada);
        }
    }

    private void EliminarEpicaSeleccionada()
    {
        try
        {
            PanelLogic.EliminarEpica(_nombreEquipoSeleccionado, _nombrePanelSeleccionado, _epicaSeleccionada);
            _successMessage = "Epica eliminada con exito";
            _epicas = _panelSeleccionado.Epicas;
            _errorMessage = null;
        }catch (Exception e)
        {
            _errorMessage = e.Message;
        }
        
    }
}