@page "/EliminarUsuario"
@using BusinessLogic.Interfaces
@using Domain
@inject IUsuarioLogic UsuarioLogic
@inject SesionLogic SesionLogic
@inject NavigationManager Navigation

@if (SesionLogic.UsuarioLogueado.EsAdmin)
{
    <h3>Eliminar usuario</h3>

    <div class="mb-3">
        <label for="equipoSelect">Seleccionar Usuario:</label>
        <select id="equipoSelect" class="form-control" @bind="_emailSeleccionado">
            <option value="">Seleccione un usuario</option>
            @foreach (var usuario in _usuarios)
            {
                <option value="@usuario.Email">@usuario.Email</option>
            }
        </select>
    </div>

    <button class="btn btn-primary" @onclick="CargarUsuario">Cargar Usuario</button>
    <button class="btn btn-danger" @onclick="EliminarUsuarioSeleccionado">Eliminar Usuario</button>

    @if (!string.IsNullOrEmpty(_errorMessage))
    {
        <div class="alert alert-danger">
            <p>@_errorMessage</p>
        </div>
    }

    @if (!string.IsNullOrEmpty(_successMessage))
    {
        <div class="alert alert-success">
            <p>@_successMessage</p>
        </div>
    }

    @if (_usuarioSeleccionado != null)
    {
        <div class="mb-3">
            <label for="email">Email:</label>
            <p>@_usuarioSeleccionado.Email</p>
        </div>

        <div class="mb-3">
            <label for="nombre">Nombre:</label>
            <p>@_usuarioSeleccionado.Nombre</p>
        </div>

        <div class="mb-3">
            <label for="apellido">Apellido:</label>
            <p>@_usuarioSeleccionado.Apellido</p>
        </div>

        <div class="mb-3">
            <label for="esAdmin">Es Admin:</label>
            @if (_usuarioSeleccionado.EsAdmin)
            {
                <p>Si</p>
            }
            else
            {
                <p>No</p>
            }
        </div>
    }
}
else
{
    <h3>Error de acceso!</h3>
    <h4>Acceso denegado por falta de permisos</h4>
}


@code {
    private List<Usuario> _usuarios = new List<Usuario>();
    private string? _emailSeleccionado;
    private Usuario? _usuarioSeleccionado;
    private string? _successMessage;
    private string? _errorMessage;


    protected override void OnInitialized()
    {
        if(SesionLogic.UsuarioLogueado != null)
        {
            _usuarios = UsuarioLogic.ListarUsuarios(SesionLogic.UsuarioLogueado);
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && SesionLogic.UsuarioLogueado == null)
        {
            if (SesionLogic.UsuarioLogueado == null)
            {
                Navigation.NavigateTo("https://localhost:7014/", true);
            }
            firstRender = false;
        }
    }

    private void CargarUsuario()
    {
        if (!string.IsNullOrEmpty(_emailSeleccionado))
        {
            _usuarioSeleccionado = _usuarios.FirstOrDefault(u => u.Email == _emailSeleccionado);
            _errorMessage = null;
            _successMessage = null;
        }
    }

    private void EliminarUsuarioSeleccionado()
    {
        if (_usuarioSeleccionado != null)
        {
            if (_usuarioSeleccionado.Email == SesionLogic.UsuarioLogueado.Email)
            {
                _errorMessage = "No puede eliminar su propio usuario.";
                return;
            }
            UsuarioLogic.EliminarUsuario(_usuarioSeleccionado, SesionLogic.UsuarioLogueado);
            _usuarios.Remove(_usuarioSeleccionado);
            _usuarioSeleccionado = null;
            _errorMessage = null;
            _successMessage = "Usuario eliminado correctamente.";
        }
        else
        {
            _successMessage = null;
            _errorMessage = "Debe cargar el usuario para poder eliminarlo.";
        }
    }

}