@page "/papelera"
@using BusinessLogic.Interfaces
@using Domain
@inject SesionLogic SesionLogic
@inject IPapeleraLogic PapeleraLogic
@inject NavigationManager Navigation
@inject IUsuarioLogic UsuarioLogic
@inject IJSRuntime JsRuntime

<h3>Papelera</h3>

<ul>
    @foreach (Panel panel in _paneles)
    {
        <p>@panel.Nombre - @panel.Descripcion</p>
        <button class="btn btn-danger" @onclick="() => EliminarPanelSeleccionado(panel)">Eliminar panel</button>
        <button class="btn btn-primary" @onclick="() => RestaurarPanelSeleccionado(panel)">Restaurar panel</button>
        <hr />
    }
    @foreach (var tarea in _tareas)
    {
        <p>@tarea.Titulo - @tarea.Descripcion</p>
        <button class="btn btn-danger" @onclick="() => EliminarTareaSeleccionada(tarea)">Eliminar tarea</button>
        <button class="btn btn-primary" @onclick="() => RestaurarTareaSeleccionada(tarea)">Restaurar tarea</button>
        <hr />
    }
</ul>

@if (!string.IsNullOrEmpty(_errorMessage))
{
<div class="alert alert-danger">
    <p>@_errorMessage</p>
</div>
}
@if (!string.IsNullOrEmpty(_successMessage))
{
<div class="alert alert-success">
    <p>@_successMessage</p>
</div>
}

@code {
    private Usuario _usuarioLogueado;
    private List<Panel>? _paneles = new List<Panel>();
    private List<Tarea>? _tareas = new List<Tarea>();
    private string? _errorMessage;
    private string? _successMessage;
    private bool _firstRender = true;
    private Domain.Papelera? _papelera;

    protected override void OnInitialized()
    {
        if(SesionLogic.UsuarioLogueado != null)
        {
            _papelera = UsuarioLogic.ObtenerPapeleraDeUsuario(SesionLogic.UsuarioLogueado);
            _usuarioLogueado = SesionLogic.UsuarioLogueado;
            _paneles = _papelera.Paneles;
            _tareas = _papelera.Tareas;
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && _usuarioLogueado == null)
        {
            if (_usuarioLogueado == null)
            {
                Navigation.NavigateTo("https://localhost:7014/", true);
            }
            firstRender = false;
        }
    }

    private async Task EliminarPanelSeleccionado(Panel panel)
    {
        await ConfirmarAccionIrreversible(async () =>
        {
            try
            {
                PapeleraLogic.EliminarPanelDePapelera(panel, _usuarioLogueado.Papelera);
                _successMessage = "Panel eliminado con éxito";
            }
            catch (Exception e)
            {
                _errorMessage = e.Message;
            }
        });
    }
    
    private async Task EliminarTareaSeleccionada(Tarea tarea)
    {
        await ConfirmarAccionIrreversible(async () =>
        {
            try
            {
                PapeleraLogic.EliminarTareaDePapelera(tarea, _usuarioLogueado.Papelera);
                _successMessage = "Tarea eliminada con éxito";
            }
            catch (Exception e)
            {
                _errorMessage = e.Message;
            }
        });
    }
    
    private async Task ConfirmarAccionIrreversible(Func<Task> accion)
    {
        bool confirmar = await JsRuntime.InvokeAsync<bool>("confirm", "Esta acción es permanente y no puede deshacerse. Desea continuar de todas formas?");
        if (confirmar)
        {
            await accion();
        }
    }
    
    private async Task RestaurarPanelSeleccionado(Panel panel)
    {
        try
        {
            PapeleraLogic.RestaurarPanel(panel, _usuarioLogueado.Papelera, _usuarioLogueado);
            _successMessage = "Panel restaurado con éxito";
        }
        catch (Exception e)
        {
            _errorMessage = e.Message;
        }
    }
    
    private async Task RestaurarTareaSeleccionada(Tarea tarea)
    {
        try
        {
            
            PapeleraLogic.RestaurarTarea(tarea, _usuarioLogueado.Papelera, _usuarioLogueado);
            _successMessage = "Tarea restaurada con éxito";
        }
        catch (Exception e)
        {
            _errorMessage = e.Message;
        }
    }
}